<%
        def order_columns(name, column)
                tab_header = @hash_vars[name].shift
                @hash_vars[name].sort!{|s1, s2| s1[column] <=> s2[column] }
                @hash_vars[name].unshift(tab_header)
        end

        if !@hash_vars['parsed_non_integrated_rank_metrics'].nil?
                order_columns('parsed_non_integrated_rank_metrics',0)
        end

        if !@hash_vars['parsed_integrated_rank_metrics'].nil?
                order_columns('parsed_integrated_rank_metrics',0)
        end

        if !@hash_vars['parsed_annotation_grade_metrics'].nil?
                order_columns('parsed_annotation_grade_metrics',0)
        end
        
%>


<div style="width:90%; background-color:#FFFFFF; margin:50 auto; align-content: center;">
        <h1 style="text-align:center; background-color:#ecf0f1, color: powderblue; "> Analysis of the algorithm: From rankings to backup genes.</h1>

        <h2 style="text-align:center; background-color:#ecf0f1, color: powderblue;"> Ranking section </h2>

        <p> For each of the affected genes present in the list, a ranking with the score and percentile of every possible gene was obtained. 
Once this was done, the position for every known backup gene was obtained and the statistical descriptor of all the values calculated.</p>

        <div style="overflow: hidden";>
                <p style="text-align:center;"><b>Table 1.</b> Backup position values for every kernel and net before integration.</p> 
                <%= 
                if !@hash_vars['parsed_non_integrated_rank_metrics'].nil?
                        table(id: "parsed_non_integrated_rank_metrics", text: true, header: true, 
                                fields: [1,2,3,5,4,6,7],
                                cell_align: ['left', 'center', 'center', 'center','center','center','center'],
                                border: 2,
                                attrib: {
                                        'style' => 'margin-left: auto; margin-right:auto;',
                                        'cellspacing' => 0,
                                        'cellpadding' => 2
                                }) do |data|
                        end
                end
                %>
        </div>

        <div style="overflow: hidden";>
                <p style="text-align:center;"><b>Table 2.</b> Backup position values for every kernel after integration</p> 
                <%=
                if !@hash_vars['parsed_integrated_rank_metrics'].nil? 
                        table(id: "parsed_integrated_rank_metrics", text: true, header: true, 
                                fields: [1,2,3,5,4,6,7],
                                cell_align: ['left', 'center', 'center', 'center','center','center','center'],
                                border: 2,
                                attrib: {
                                        'style' => 'margin-left: auto; margin-right:auto;',
                                        'cellspacing' => 0,
                                        'cellpadding' => 2
                                }) do |data|
                        end
                end
                %>
        </div>

        <div style="overflow: hidden";>
                <p style="text-align:center;"><b>Backup Pairs Coverage By Layer</b></p> 
                <%=
                if !@hash_vars['parsed_non_integrated_rank_metrics'].nil? 
                        barplot(id: "parsed_non_integrated_rank_metrics", fields: [1,3] , header: true, responsive: false,
                                height: '400px', width: '400px', x_label: 'Number of Backup pairs present', smp_attr: [1,2],
                                title: "Backup Pairs Coverage By Layer",
                                config: {
                                        'showLegend' => true,
                                        'graphOrientation' => 'horizontal',
                                        'colorBy' => 'Kernel'
                                        })
                end
                %>
        </div>

        <h3 style="text-align:center; background-color:#ecf0f1, color: powderblue;">  </h3>

        <div style="overflow: hidden">

                <%= 
                if !@hash_vars['parsed_non_integrated_rank_metrics'].nil? 
                        line(id: "parsed_non_integrated_rank_metrics", fields: [0, 8, 9, 10], header: true, row_names: true,
                                responsive: false,
                                height: '400px', width: '400px', x_label: 'Percentile',
                                title: "Distribution of the Backup genes percentiles",
                                config: {
                                        'showLegend' => true,
                                        'graphOrientation' => 'vertical',
                                        })
                end
                %>

                <%=
                if !@hash_vars['parsed_integrated_rank_metrics'].nil?
                        line(id: "parsed_integrated_rank_metrics", fields: [0, 8, 9, 10], header: true, row_names: true,
                                responsive: false,
                                height: '400px', width: '400px', x_label: 'Percentile',
                                title: "Distribution of the Backup genes percentiles",
                                config: {
                                        'showLegend' => true,
                                        'graphOrientation' => 'vertical',
                                        })
                end
                %>

        </div>

        <div style="overflow: hidden";>
                <p style="text-align:center;"> CDF plots of non integrated kernels </p> 
                <%= 
                if !@hash_vars['non_integrated_rank_list'].nil?
                       scatter2D(id: "non_integrated_rank_list", fields: [4,5] , header: true, row_names: false, responsive: false,
                                height: '400px', width: '400px', x_label: 'percentiles', smp_attr: [0,1,2],
                                title: "cummulative distribution function plot",
                                config: {
                                        'showLegend' => true,
                                        'lineBy' => 'kernel',
                                        'colorBy' => 'kernel',
                                        'segregateVariablesBy' => 'annot'
                                        })
                end
                %>
        </div>

        <div style="overflow: hidden";>
                <p style="text-align:center;"> CDF plots of integrated kernels </p> 
                <%= 
                if !@hash_vars['integrated_rank_list'].nil?
                       scatter2D(id: "integrated_rank_list", fields: [4,5] , header: true, row_names: false, responsive: false,
                                height: '400px', width: '400px', x_label: 'percentiles', smp_attr: [0,1,2],
                                title: "cummulative distribution function plot",
                                config: {
                                        'showLegend' => true,
                                        'lineBy' => 'kernel',
                                        'colorBy' => 'kernel',
                                        'segregateVariablesBy' => 'integration'
                                        })
                end
                %>
        </div>

</div>


















